[manifest]
version = "0.0.1"
dump_lua = true
priority = 99999

[[patches]]
[patches.pattern]
target = '=[SMODS Blindside "lib/gameobject.lua"]'
pattern = '''if self.legendary then
        self.weight = 99 -- secret code for "i am legendary"'''
match_indent = true
position = 'before'
payload = '''
if self.unik_ancient then
    self.weight = 700
end
if self.unik_exotic then
    self.weight = 999
end
'''

[[patches]]
[patches.pattern]
target = '=[SMODS Blindside "lib/gameobject.lua"]'
pattern = '''elseif card.config.center.weight == 99 then'''
match_indent = true
position = 'before'
payload = '''

elseif card.config.center.weight == 700 then
    badges[#badges+1] = create_badge(localize('k_unik_ancient'), G.C.UNIK_ANCIENT, G.C.WHITE, 1 )
elseif card.config.center.weight == 999 then
    badges[#badges+1] = create_badge(localize('k_unik_exotic'), G.C.DARK_EDITION, G.C.WHITE, 1 )
'''

[[patches]]
[patches.pattern]
target = '=[SMODS Blindside "lib/gameobject.lua"]'
pattern = '''if self.legendary then
        self.pools["bld_obj_blindcard_legendary"] = true'''
match_indent = true
position = 'before'
payload = '''
if self.unik_ancient then
    self.pools["unik_obj_blindcard_ancient"] = true
end
if self.unik_exotic then
end
'''

[[patches]]
[patches.pattern]
target = '=[SMODS Blindside "lib/utils/utils.lua"]'
pattern = '''elseif args.legendary then'''
match_indent = true
position = 'before'
payload = '''elseif args.unik_ancient then
    rarity = 70
elseif args.unik_exotic then
    rarity = 99
'''

[[patches]]
[patches.regex]
target = '=[SMODS Blindside "lib/utils/utils.lua"]'
pattern = '''\(wght == 99 and rarity == 4\)'''
match_indent = true
position = 'after'
payload = ''' or (wght == 700 and rarity == 70) or (wght == 999 and rarity == 99)'''

[[patches]]
[patches.regex]
target = '=[SMODS Blindside "lib/utils/utils.lua"]'
pattern = '''or rarity == 4'''
match_indent = true
position = 'after'
payload = ''' or rarity == 70 or rarity == 99'''

