[manifest]
version = "0.0.1"
dump_lua = true
priority = 99

###logic for cookie incrementer stuff in ui
[[patches]]
[patches.pattern]
target = "functions/UI_definitions.lua"
pattern = '''local blind_amt = get_blind_amount(G.GAME.round_resets.blind_ante)*blind_choice.config.mult*G.GAME.starting_params.ante_scaling'''
position = "after"
payload = '''
if G.P_BLINDS[G.GAME.round_resets.blind_choices[type]].increment_in_ante then
    blind_amt = UNIK.calculate_cookie_base(type)
elseif  G.GAME.round_resets.cookie_increment and  G.GAME.round_resets.cookie_increment[type] then
    G.GAME.round_resets.cookie_increment[type] = nil
end
'''
match_indent = true


##inject id
[[patches]]
[patches.regex]
target = "functions/UI_definitions.lua"
pattern = '''text(.*)=(.*)number_format\(blind\_amt\)\,'''
position = "after"
payload = '''id = 'blind_text_' .. string.lower(type),'''
match_indent = true