[manifest]
version = "0.0.1"
dump_lua = true
priority = 9999999

## Initializer

[[patches]]
[patches.pattern]
target = "game.lua"
pattern = "self:splash_screen()"
position = "before"
payload = '''
self:unik_initialize_stuff()
'''
match_indent = true

[[patches]]
[patches.pattern]
target = '''functions/misc_functions.lua'''
pattern = '''local suits = SMODS.Suit.obj_buffer'''
position = "at"
payload = '''
local suits = {}
suits = unik_get_all_suits()
'''
match_indent = true

## My mistake, should've made them more compat. Now I have to deal with this.
[[patches]]
[patches.pattern]
target = '''functions/misc_functions.lua'''
pattern = '''local suits = {}'''
position = "after"
payload = '''
    suits = unik_get_all_suits()
'''
match_indent = true

## suits
## Artificially add abstracted 'rank' to X of a kind calculations
[[patches]]
[patches.pattern]
target = "functions/misc_functions.lua"
pattern = '''for i=#hand, 1, -1 do'''
position = "before"
payload = '''
    for i = 1, #G.ENHANCEMENT_OVERRIDE_RANKS do
        vals[#vals + 1] = {}
    end
'''
match_indent = true

[[patches]]
[patches.pattern]
target = '''card.lua'''
pattern = '''return self.base.suit == suit'''
position = "before"
payload = '''

    --if its a specific suit, then override the base suit, but still allow stuff like patches
    if G.P_CENTERS[self.config.center.key].set == "Enhanced" and 
    G.P_CENTERS[self.config.center.key].unik_specific_suit 
    then
        return suit == G.P_CENTERS[self.config.center.key].unik_specific_suit
    else
   -- print(suit)
    
'''
match_indent = true
[[patches]]
[patches.pattern]
target = '''card.lua'''
pattern = '''return self.base.suit == suit'''
position = "after"
payload = '''
    end  
'''
match_indent = true