[manifest]
version = "1.0.0"
dump_lua = true
priority = 99999

# G.FUNCS.discard_cards_from_highlighted (EPIC CLAW)
[[patches]]
[patches.regex]
target = 'functions/state_events.lua'
pattern = '''draw_card\(G.hand, G.discard(.*)\)'''
position = 'before'
payload = '''
if G.GAME.blind and G.GAME.blind.name == 'bl_unik_epic_claw' and not G.GAME.blind.disabled then
    G.hand.highlighted[i].ability.claw_counter = G.hand.highlighted[i].ability.unik_claw_counter or 2
    G.hand.highlighted[i].ability.claw_counter = G.hand.highlighted[i].ability.unik_claw_counter - 1
    if G.hand.highlighted[i].ability.unik_claw_counter < 1 then
        G.hand.highlighted[i].ability.unik_claw_mark = nil
        G.hand.highlighted[i].ability.unik_claw_counter = nil
    end
    draw_card(G.hand, G.deck, i*100/highlighted_count, 'down', false, G.hand.highlighted[i])
    G.deck:shuffle('unik_epic_claw'..G.GAME.round_resets.ante)
else


'''
match_indent = true

[[patches]]
[patches.regex]
target = 'functions/state_events.lua'
pattern = '''draw_card\(G.hand, G.discard(.*)\)'''
position = 'after'
payload = '''



end
'''
match_indent = true