[manifest]
version = "0.0.1"
dump_lua = true
priority = 9999999

[[patches]]
[patches.regex]
target = "functions/state_events.lua"
pattern = '''G\.GAME\.round\_resets\.blind\_states\.Boss \= \'Defeated\''''
position = "after"
payload = '''

G.GAME.unik_ranks_scored_this_ante = {}
'''

[[patches]]
[patches.pattern]
target = 'functions/state_events.lua'
pattern = '''SMODS.calculate_context({full_hand = G.play.cards, scoring_hand = scoring_hand, scoring_name = text, poker_hands = poker_hands, after = true})'''
position = "before"
payload = '''
for i = 1, #G.play.cards do
    if not SMODS.has_no_rank(G.play.cards[i]) then
        G.GAME.unik_ranks_scored_this_ante = G.GAME.unik_ranks_scored_this_ante or {}
        G.GAME.unik_ranks_scored_this_ante[G.play.cards[i]:get_id()] = true
    end
end
'''
match_indent = true