[manifest]
version = "1.0.0"
dump_lua = true
priority = 0

### General Legendary Blinds animation stuff
#### Register legendary blind animations 1

[[patches]]
[patches.regex]
target = "functions/UI_definitions.lua"
pattern = '''blind_choice.animation = (.*)SMODS.create_sprite\((.*)\)'''
position = "after"
payload = '''

--If the blind has a "glitchy animation" (Legendary blinds only)
--legendary_blind_patch1
if blind_choice.config.glitchy_anim or blind_choice.glitchy_anim then
    blind_choice.animation.legendary_glitch_anim = true
end

'''
match_indent = true

## Register blind animations 2

[[patches]]
[patches.regex]
target = "functions/UI_definitions.lua"
pattern = '''local temp_blind = (.*)SMODS.create_sprite\((.*)\)'''
position = "after"
payload = '''

--If the blind has a "glitchy aniddmation" (Legendary blinds only)
--legendary_blind_patch2
if v.glitchy_anim then
    temp_blind.legendary_glitch_anim = true
end

'''
match_indent = true

## Register blind animations 4

[[patches]]
[patches.regex]
target = '''=[SMODS _ "src/overrides.lua"]'''
pattern = '''local temp_blind = (.*)SMODS.create_sprite\((.*)\)'''
position = "after"
payload = '''

--If the blind has a "glitchy animation" (Legendary blinds only)
--legendary_blind_patch2
if v.glitchy_anim then
    temp_blind.legendary_glitch_anim = true
end

'''
match_indent = true

## Register blind animations 5
[[patches]]
[patches.regex]
target = "blind.lua"
pattern = '''self.children.animatedSprite =(.*)SMODS.create_sprite\((.*)\)'''
position = "after"
payload = '''
--If the blind has a "glitchy animation" (Legendary blinds only)
if self.glitchy_anim then
--legendary_blind_patch5
--print("GLITCH REGISTERED2")
    self.children.animatedSprite.legendary_glitch_anim = true
end
'''
match_indent = true

## Register blind animations 6
[[patches]]
[patches.regex]
target = "functions/common_events.lua"
pattern = '''local blind_sprite =(.*)SMODS.create_sprite\((.*)\)'''
position = "after"
payload = '''
--legendary_blind_patch6
--If the blind has a "glitchy animation" (Legendary blinds only)
if G.GAME.blind.glitchy_anim then
    blind_sprite.legendary_glitch_anim = true
end
'''
match_indent = true

[[patches]]
[patches.pattern]
target = "blind.lua"
pattern = '''self.children.animatedSprite.states.visible = true'''
position = "after"
payload = '''
self.glitchy_anim = blindTable and blindTable.glitchy_anim or nil
if self.glitchy_anim then
self.children.animatedSprite.legendary_glitch_anim = true
end
'''
match_indent = true

[[patches]]
[patches.pattern]
target = "blind.lua"
pattern = '''local blindTable = {'''
position = "after"
payload = '''
--legendary_blind_patch8
glitchy_anim = self.glitchy_anim,
'''
match_indent = true

## Add animation 
[[patches]]
[patches.pattern]
target = "game.lua"
pattern = '''v:animate(self.real_dt*self.SPEEDFACTOR)'''
position = "after"
payload = '''
--legendary_blind_patch9
if v.legendary_glitch_anim then
    if math.random(150) == 1 then
        v.legendary_glitch = math.random(10, 50)
        v:shift_atlas({x = 0, y = math.random(1, 5)})
        --print("GLITCH")
    elseif v.legendary_glitch then
        if v.legendary_glitch <= 1 then
            v:shift_atlas({x = 0, y = 0})
            v.legendary_glitch = nil
        else
            v.legendary_glitch = v.legendary_glitch - 1
        end
    end
end
'''
match_indent = true

## Add global for animation


[[patches]]
[patches.pattern]
target = "globals.lua"
pattern = '''self.ANIMATIONS = {}'''
position = "after"
payload = '''
--legendary_blind_patch10
self.UNIK_LEGENDARY_GLITCH = {}
'''
match_indent = true


