[manifest]
version = "0.0.1"
dump_lua = true
priority = 999

# plural handler (annoyingly fragile overwrite)
# also i pass the whole vars here, even though it's inefficient, just because it looks better
# whatever
[[patches]]
[patches.regex]
target = "functions/misc_functions.lua"
pattern = '''subpart or'''
position = "after"
payload = ''' (cry_pluralize and cry_pluralize(subpart[1], args.vars)) or '''
match_indent = true

[[patches]]
[patches.regex]
target = '''=[SMODS _ "src/utils.lua"]'''
pattern = '''subpart or'''
position = "after"
payload = ''' (cry_pluralize and cry_pluralize(subpart[1], args.vars)) or '''
match_indent = true