[manifest]
version = "0.0.1"
dump_lua = true
priority = 999

[[patches]]
[patches.regex]
target = '''=[SMODS _ "src/utils.lua"]'''
pattern = '''ipairs\(context.cardarea.cards\)'''
position = 'at'
payload = '''ipairs((unik_isRescoringOnly and context.unik_end_round_rescored_cards) or context.cardarea.cards)'''
match_indent = true

[[patches]]
[patches.pattern]
target = '''=[SMODS _ "src/utils.lua"]'''
pattern = '''function SMODS.calculate_end_of_round_effects(context)'''
position = 'after'
payload = '''
local unik_isRescoringOnly = false
if G.GAME.suppress_rescoring then
    unik_isRescoringOnly = true
end
'''
match_indent = true

[[patches]]
[patches.regex]
target = '''=[SMODS _ "src/utils.lua"]'''
pattern = '''percent(.*)=(.*)\((.*)\)/\(\#context.cardarea.cards-0.998\)(.*)'''
position = 'before'
payload = '''
if unik_isRescoringOnly then
    percent = (i-0.999)/(#context.unik_end_round_rescored_cards-0.998) + (j-1)*0.1
else
'''
match_indent = true

[[patches]]
[patches.regex]
target = '''=[SMODS _ "src/utils.lua"]'''
pattern = '''percent(.*)=(.*)\((.*)\)/\(\#context.cardarea.cards-0.998\)(.*)'''
position = 'after'
payload = '''
end
'''
match_indent = true