[manifest]
version = "0.0.1"
dump_lua = true
priority = 99

[[patches]]
[patches.pattern]
target = 'game.lua'
pattern = '''for i = 1, #G.GAME.tags do
            G.GAME.tags[i]:apply_to_run({type = 'round_start_bonus'})
        end'''
match_indent = true
position = 'after'
payload = '''
G.E_MANAGER:add_event(Event({
    trigger = 'before',
    func = function()
    print(G.GAME.unik_override_prince)
        if G.GAME.unik_prince_hands_remaining < 1 and G.GAME.blind.disabled and not G.GAME.unik_override_prince then
            UNIK.summon_blind()
        end
        print("2after:"  .. G.GAME.unik_prince_hands_remaining)
        return true
    end
}))
'''

[[patches]]
[patches.pattern]
target = 'game.lua'
pattern = '''for i = 1, #G.GAME.tags do
            G.GAME.tags[i]:apply_to_run({type = 'round_start_bonus'})
        end'''
match_indent = true
position = 'before'
payload = '''
G.GAME.unik_prince_hands_remaining = G.GAME.unik_prince_hands_remaining or 0
if G.GAME.blind and G.GAME.blind.disabled then
    G.GAME.unik_prince_hands_remaining = math.max(G.GAME.unik_prince_hands_remaining - 1,0)
end
print("before:"  .. G.GAME.unik_prince_hands_remaining)
'''
