[manifest]
version = "0.0.1"
dump_lua = true
priority = 999


### copied from bunco

# function Card:highlight (triggering sticker)
[[patches]]
[patches.pattern]
target = 'card.lua'
pattern = 'self.highlighted = is_higlighted'
position = 'after'
match_indent = true
payload = '''
--Playing cards
if not G.GAME.unik_no_finger_trigger then
    self:calculate_triggering(self.highlighted)
end
if self.ability and self.area and self.ability.unik_triggering and self.area == G.jokers and not self.ability.unik_cursed_unsellable then
    if self:can_sell_card() and not self.ability.unik_automatic_sold then
        self.ability.unik_automatic_sold = true
        self:sell_card()
        SMODS.calculate_context({selling_card = true, card = self})
    end
end

'''
