[manifest]
version = "0.0.1"
dump_lua = true
priority = 9999

### Debuff after defeat, either for green goalpost or nuke

[[patches]]
[patches.pattern]
target = 'functions/state_events.lua'
pattern = '''G.GAME.blind.in_blind = false'''
position = 'before'
payload = '''
-- legendary crown: force set new high score:
-- scores really big for regular indigo icbm, epic and legendary blinds. Can only spawn if you scored over ^2 reqs consecutively
--if you are UNDER requirements, your overshoot is HALVED instead, better get those determinations/mr bones!
local upper22 = G.GAME.chips
local ceiling222 = math.min(G.GAME.blind.chips*10^50,G.GAME.blind.chips^2.5)
--print(upper22)
local nanny = tostring(G.GAME.chips_text)
--Naneinf will always trigger overshoot
--update UI if settings were changed on the fly
local ante_UI = G.HUD:get_UIE_by_ID('unik_overshoot_desc')
if not ante_UI and UNIK.overshootEnabled(true) then
    G.HUD = UIBox{
        definition = create_UIBox_HUD(),
        config = {align=('cli'), offset = {x=-0.7,y=0},major = G.ROOM_ATTACH}
    }
elseif ante_UI and not UNIK.overshootEnabled(true) then
    G.HUD = UIBox{
        definition = create_UIBox_HUD(),
        config = {align=('cli'), offset = {x=-0.7,y=0},major = G.ROOM_ATTACH}
    }
end

if to_big(upper22) > to_big(ceiling222) or nanny == 'naneinf' or nanny == 'TREE(3)' then
    G.GAME.unik_overshoot = G.GAME.unik_overshoot or 0
    G.GAME.nuke_spawn = G.GAME.nuke_spawn or 0
    G.GAME.nuke_spawn = G.GAME.nuke_spawn + 1
    if UNIK.overshootEnabled() then
        unik_trigger_overshoot_menu(calculate_overshoot_amount())
        delay(0.1)
            G.E_MANAGER:add_event(Event({
                func = function()
                unik_ease_overshoot(calculate_overshoot_amount())
                return true
            end
        }))
        end
else
    if to_big(G.GAME.chips) < to_big(G.GAME.blind.chips) then
        G.GAME.unik_overshoot = G.GAME.unik_overshoot or 0
        if UNIK.overshootEnabled() then
            unik_ease_overshoot(-math.ceil(G.GAME.unik_overshoot/2))
        end
    else
        G.GAME.unik_overshoot = G.GAME.unik_overshoot or 0
        if UNIK.overshootEnabled() then
            unik_ease_overshoot(-1)
        end
    end
    G.GAME.nuke_spawn = G.GAME.nuke_spawn or 0
    G.GAME.nuke_spawn = math.max(0,G.GAME.nuke_spawn - 1)
    

    
end
G.GAME.unik_wiggle_consumed = nil
--print(G.GAME.unik_scores_really_big)
'''
match_indent = true

### Green goalpost: reset ante victory reqs after victory:
[[patches]]
[patches.pattern]
target = 'functions/state_events.lua'
pattern = '''win_game()'''
position = 'before'
payload = '''

    ease_victory_reqs(-G.GAME.unik_goalpost_ante_win_increase)
    G.GAME.unik_goalpost_ante_win_increase = 0
'''
match_indent = true

###greengoalpost fix
[[patches]]
[patches.pattern]
target = 'functions/state_events.lua'
pattern = '''if game_won and not G.GAME.win_notified then'''
position = 'before'
payload = '''
    if (game_won and G.GAME.round_resets.ante < G.GAME.win_ante) or G.GAME.unik_force_avoid_win then
        game_won = false
        G.GAME.won = false
         G.GAME.unik_force_avoid_win = nil
    end
'''
match_indent = true


